<!DOCTYPE html>
<html>
<head>
    <title>Swagger UI</title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
    {% block stylesheets %}
        {% stylesheets
            "@ALSwaggerUIBundle/Resources/public/css/reset.css"
            "@ALSwaggerUIBundle/Resources/public/css/screen.css"
        %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen" />
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="print" />
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% javascripts
            "@ALSwaggerUIBundle/Resources/public/lib/shred.bundle.js"
            "@ALSwaggerUIBundle/Resources/public/lib/jquery-1.8.0.min.js"
            "@ALSwaggerUIBundle/Resources/public/lib/jquery.slideto.min.js"
            "@ALSwaggerUIBundle/Resources/public/lib/jquery.wiggle.min.js"
            "@ALSwaggerUIBundle/Resources/public/lib/jquery.ba-bbq.min.js"
            "@ALSwaggerUIBundle/Resources/public/lib/handlebars-1.0.0.js"
            "@ALSwaggerUIBundle/Resources/public/lib/underscore-min.js"
            "@ALSwaggerUIBundle/Resources/public/lib/backbone-min.js"
            "@ALSwaggerUIBundle/Resources/public/lib/swagger.js"
            "@ALSwaggerUIBundle/Resources/public/js/swagger-ui.js"
            "@ALSwaggerUIBundle/Resources/public/lib/highlight.7.3.pack.js"
            "@ALSwaggerUIBundle/Resources/public/lib/swagger-oauth.js"
        %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}

    <script type="text/javascript">
        $(function () {
            window.swaggerUi = new SwaggerUi({
                url: " {{ resource_list_url }} ",
                dom_id: "swagger-ui-container",
                supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
                onComplete: function(swaggerApi, swaggerUi){
                    log("Loaded SwaggerUI");

                    if(typeof initOAuth == "function") {
                        /*
                         initOAuth({
                         clientId: "your-client-id",
                         realm: "your-realms",
                         appName: "your-app-name"
                         });
                         */
                    }
                    $('pre code').each(function(i, e) {
                        hljs.highlightBlock(e)
                    });
                },
                onFailure: function(data) {
                    log("Unable to Load SwaggerUI");
                },
                docExpansion: "none"
            });

            $('#input_apiKey').change(function() {
                var key = $('#input_apiKey')[0].value;
                log("key: " + key);
                if(key && key.trim() != "") {
                    log("added key " + key);
                    window.authorizations.add("key", new ApiKeyAuthorization("api_key", key, "query"));
                }
            })
            window.swaggerUi.load();
        });
    </script>
</head>

<body class="swagger-section">
<div id='header'>
    <div class="swagger-ui-wrap">
        <a id="logo" href="http://swagger.wordnik.com">swagger</a>
        <form id='api_selector'>
            <div class='input icon-btn'>
                <img id="show-pet-store-icon" src="{{ asset('bundles/alswaggerui/images/pet_store_api.png') }}" title="Show Swagger Petstore Example Apis">
            </div>
            <div class='input icon-btn'>
                <img id="show-wordnik-dev-icon" src="{{ asset('bundles/alswaggerui/images/wordnik_api.png') }}" title="Show Wordnik Developer Apis">
            </div>
            <div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div>
            <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
            <div class='input'><a id="explore" href="#">Explore</a></div>
        </form>
    </div>
</div>

<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>
